.word-list__wrapper {
  display: flex;
  flex-direction: column;
}

.word-list__wrong,
.word-list__correct {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.word-list__title {
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 120%;
  text-align: center;
  color: #272525;
  align-self: center;
  padding-bottom: 10px;
  user-select: none;
}

.word-list__count {
  margin: 0 5px;
  padding: 0 10px;
  color: white;
  border-radius: 1rem;
  text-align: center;
}

.word-list__text {
  font-family: 'Manrope';
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 150%;
  color: #272525;
  user-select: none;
}

.word-list__count_wrong {
  background-color: rgb(157, 30, 30);
}

.word-list__count_correct {
  background-color: rgb(5, 155, 5);
}

.word-item {
  display: flex;
  gap: 10px;
}

.word-item__audio {
  height: 1.5rem;
  width: 1.5rem;
  padding-right: 10px;
  background-image: url(../../../assets/sound.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.word-list__separator {
  width: 90%;
}

.word-item__word,
.word-item__translate,
.word-item__seperator {
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 1rem;
  line-height: 100%;
  text-align: center;
  color: #454747;
  align-self: center;
  user-select: none;
}
