* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: none;
  font-family: Jost-k;
}

@media (min-width: 780px) {
  .authorization__button {
    background-color: transparent;
    padding: 5px 30px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 1.5rem;line-height: 100%;
  }

  .authorization__button:hover {
    cursor: pointer;
  }
}

@media (max-width: 779px) {
  .authorization__button {
    background-color: transparent;
    padding: 5px 30px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 1.5rem;line-height: 100%;
  }

  .authorization__button:hover {
    cursor: pointer;
  }

}
