* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: none;
  font-family: Jost-k;
}

.username {
  font-size: 20px;
  color: #ffffff;
}

.authorization {
  display: flex;
  align-items: center;
  gap: 5px;
}

.authorization:hover .authorization__button{
  filter: invert(0%) sepia(82%) saturate(7500%) hue-rotate(318deg) brightness(82%) contrast(102%);
}

.authorization__button {
  height: 24px;
  filter: invert(100%);
  transition: all 0.3s;
}

@media (min-width: 780px) {
  .authorization__button {
    background-color: transparent;
    line-height: 100%;
  }

  .authorization__button:hover {
    cursor: pointer;
  }
}

@media (max-width: 779px) {
  .authorization__button {
    background-color: transparent;
  }

  .authorization__button:hover {
    cursor: pointer;
  }

}
