<div class="team">
  <h2 class="team__title">Команда</h2>
  <div class="team__container">
    <div class="team__item">
      <img src="../../../assets/man1.svg" alt="team img" class="team_img">
      <div class="team__name">
        <h2 class="team__subtitle">Developer</h2>
        <a href="https://github.com/mDjeee">
          <img src="../../../assets/GitHub-Mark-32px.png" alt="gh_logo">
        </a>
      </div>
      <p class="team__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit cupiditate fugit iusto accusamus nostrum ipsa animi dolorem deserunt soluta laboriosam sequi quaerat, optio, inventore ullam veritatis, architecto similique facere maxime blanditiis modi nobis adipisci ex beatae? Nulla dolore voluptatibus molestiae architecto molestias voluptas itaque eum. Veniam sunt voluptates at nobis.</p>
    </div>
    <div class="team__item">
      <img src="../../../assets/women.svg" alt="team img" class="team_img">
      <div class="team__name">
        <h2 class="team__subtitle">Developer</h2>
        <a href="https://github.com/mDjeee">
          <img src="../../../assets/GitHub-Mark-32px.png" alt="gh_logo">
        </a>
      </div>
      <p class="team__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit cupiditate fugit iusto accusamus nostrum ipsa animi dolorem deserunt soluta laboriosam sequi quaerat, optio, inventore ullam veritatis, architecto similique facere maxime blanditiis modi nobis adipisci ex beatae? Nulla dolore voluptatibus molestiae architecto molestias voluptas itaque eum. Veniam sunt voluptates at nobis.</p>
    </div>
    <div class="team__item">
      <img src="../../../assets/man2.svg" alt="team img" class="team_img">
      <div class="team__name">
        <h2 class="team__subtitle">Developer</h2>
        <a href="https://github.com/mDjeee">
          <img src="../../../assets/GitHub-Mark-32px.png" alt="gh_logo">
        </a>
      </div>
      <p class="team__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit cupiditate fugit iusto accusamus nostrum ipsa animi dolorem deserunt soluta laboriosam sequi quaerat, optio, inventore ullam veritatis, architecto similique facere maxime blanditiis modi nobis adipisci ex beatae? Nulla dolore voluptatibus molestiae architecto molestias voluptas itaque eum. Veniam sunt voluptates at nobis.</p>
    </div>
  </div>
</div>
