<div class="team">
  <h2 class="team__title">Команда</h2>
  <div class="team__container">
    <div class="team__item">
      <img src="../../../assets/jeje.svg" alt="team img" class="team_img">
      <div class="team__name">
        <h2 class="team__subtitle">Евгения</h2>
        <a href="https://github.com/Jenyajk">
          <img src="../../../assets/GitHub-Mark-32px.png" alt="gh_logo">
        </a>
      </div>
      <p class="team__role">Разработчик</p>
      <p class="team__description">
        Разработала игру Спринт, настроила навигацию по страницам, добавила страницам адаптивности, а также внесла самый большой вклад в разработку дизайна
      </p>
    </div>
    <div class="team__item">
      <img src="../../../assets/man2.svg" alt="team img" class="team_img">
      <div class="team__name">
        <h2 class="team__subtitle">Ислам</h2>
        <a href="https://github.com/mDjeee">
          <img src="../../../assets/GitHub-Mark-32px.png" alt="gh_logo">
        </a>
      </div>
      <p class="team__role">Тимлид</p>
      <p class="team__description">Отвечал за архитектуру приложения и бекенд, разработал учебник и игру Оазис, а также настроил авторизацию</p>
    </div>
    <div class="team__item">
      <img src="../../../assets/6342519.svg" alt="team img" class="team_img">
      <div class="team__name">
        <h2 class="team__subtitle">Алишер</h2>
        <a href="https://github.com/alishnematov">
          <img src="../../../assets/GitHub-Mark-32px.png" alt="gh_logo">
        </a>
      </div>
      <p class="team__role">Разработчик</p>
      <p class="team__description">Разработал главную страницу, игру Аудиозвонок и страницу статистики</p>
    </div>
  </div>
</div>
