<footer class="footer">
  <div class="footer__container">
    <app-appLogo class="app-appLogo"></app-appLogo>
    <app-rss-logo></app-rss-logo>
    <div class="footer__column column">
      <h3 class="column__subtitle">Разработчики</h3>
      <a class="column__link" href="https://github.com/Jenyajk">Евгения Ким</a>
      <a class="column__link" href="https://github.com/mDjeee">Ислам Сейтниязов</a>
      <a class="column__link" href="https://github.com/AlishNematov">Алишер Нематов</a>
    </div>
  </div>
  <hr class="footer__separator">
  <div class="footer__year"><a href="https://rs.school/js/">Rolling Scopes School JavaScript/Front-end 2022Q1</a></div>
</footer>
