<div class="level">
  <div class="level__list">
    <button class="level__item" (click)="onChangeLevel($event, 0)">A1</button>
    <button class="level__item" (click)="onChangeLevel($event, 1)">A2</button>
    <button class="level__item" (click)="onChangeLevel($event, 2)">B1</button>
    <button class="level__item" (click)="onChangeLevel($event, 3)">B2</button>
    <button class="level__item" (click)="onChangeLevel($event, 4)">C1</button>
    <button class="level__item" (click)="onChangeLevel($event, 5)">C2</button>
  </div>
  <button class="start__btn" disabled (click)="onStart()">Начать</button>
</div>
