.header {
  display: flex;
  justify-content:space-around;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  background: #7d6be6;
}
@media (min-width: 780px) {
  .header {
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    background: #7d6be6;
  }
}

@media (max-width: 779px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    background: #7d6be6;
    gap: 10px;
  }

  /*.authorization {*/
  /*  order: 0;*/
  /*}*/

  /*.nav {*/
  /*  order: 1;*/
  /*}*/
}
