<div class="title__container">
  <h2 class="title__text">Аудиовызов</h2>
  <p class="title__description">Тренировка Аудиовызов улучшает ваше восприятие речи на слух</p>
  <p class="title__conditions">Во время игры будет озвучено слово и вам будет нужно выбрать перевод слова из представленных ответов.
    В случае верного ответа, слово будет подсвечено зеленым, в противном случае красным. Если вы не знаете ответа, нажмите кнопку "Не знаю", данное слово будет засчитано как неизученное.
    Также, в случае верного ответа, слово будет отмечено в учебнике как изученное, если вы в дальнейшем ошибетесь с ним, оно потеряет статус изученного. В конце игры будет представлена статистика пройденной игры. В случае перехода из учебника в игру изученные слова в игру включены не будут.
  </p>
</div>
