<!-- <app-doughnut-chart [data]="dataForChart" [displayTitle]="displayTitle" *ngIf="visible"></app-doughnut-chart> -->
<div class="statistics">
  <div class="statistics-day">
    <h2 class="statistics-day__title">Статистика за сегодня</h2>
    <div class="statistics-day__data">
      <div class="statistics-day__learned">
        <span class="statistics-day__number">{{learned}}</span>
        <span class="statistics-day__text">слов изучено</span>
      </div>
      <div class="statistics-day__percent">
        <span class="statistics-day__number">{{percent}}%</span>
        <span class="statistics-day__text">правильных ответов</span>
      </div>
    </div>
  </div>
</div>
