<div class="not-found">
  <img src="../../../assets/404.svg" alt="" class="not-found__image">
  <div class="not-found__container">
    <h3 class="not-found__title">Так уж получилось, что из всех страниц нашего сайта Вы оказались как раз на той, которая не существует…</h3>
    <p class="not-found__subtitle">Скорее всего, это случилось по одной из следующих причин: страница переехала, страницы больше нет или Вам просто нравится изучать 404 страницы.</p>
    <p class="not-found__text">
      Пожалуйста, воспользуйтесь навигацией, чтобы найти интересующую Вас информацию или перейдите на
      <a class="not-found__link" href="/">главную</a>
    </p>
  </div>
</div>
