.button_level:hover {
  background-color: #EE9AE5;
}

.level {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 2rem;
}

.buttons_level {
  display: flex;
  gap: 20px
}

.button_level {
  font-family: Jost-k;
  background-color: #5961F9;
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
}

.title-sprint {
  font-family: 'Comfortaa';
  font-weight: bold;
  font-size: 3.5rem;
  color: #272525;
  line-height: 3rem;
  padding: 2rem;
  margin: 0;
  user-select: none;
  text-align: center;
}

.title__description,
.sprint__conditions {
  margin: 0;
  padding: 1rem;
  font-family: 'Manrope';
  color: #454747;
  font-size: 120%;
  font-weight: 700;
  text-align: center;
  user-select: none;
}

.sprint__conditions {
  text-align: justify;
}


@media (max-width: 780px) {
  .level {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title-sprint {
    font-family: 'Comfortaa';
    font-weight: bold;
    color: #272525;
    margin: 0;
    user-select: none;
    font-size: 2.45rem;
    line-height: 2.1rem;
    padding: 1.4rem;
  }

  .buttons_level {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  .button_level {
    font-family: Jost-k;
    background-color: #5961F9;
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
  }

  .title__description
  .sprint__conditions {
    margin: 0;
    padding: 1rem;
    font-family: 'Manrope';
    color: #454747;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    user-select: none;
  }

}

.sprint__conditions{
  padding: 0 10%;
}
