<div class="wrapper">
  <div  class="level">
    <p class="title-sprint">Выберете уровень</p>
    <p class="">Тренировка Спринт помогает лучше запоминать слова и быстро переводить в уме</p>
    <div class="buttons_level">
    <button class="button_level button_A1" routerLink="/games/sprint/level/0">A1</button>
    <button class="button_level button_A2" routerLink="/games/sprint/level/1">A2</button>
    <button class="button_level button_B1" routerLink="/games/sprint/level/2">B1</button>
    <button class="button_level button_B2" routerLink="/games/sprint/level/3">B2</button>
    <button class="button_level button_C1" routerLink="/games/sprint/level/4">C1</button>
    <button class="button_level button_C2" routerLink="/games/sprint/level/5">C2</button>
  </div>
</div>

</div>


