<div class="wrapper_game">
  <div class="image-run">
    <img id="run-girl" src="./assets/run.jpg" />
  </div>
  <div class="wrap-game">
    <p id="score">Score</p>
    <div class="words">
    <p class="test">
      <b>{{ "СЛОВА" }}</b>
    </p>
    <p class="test">
      <b>-</b>
    </p>
    <p class="test">
      <b>{{ "СЛОВА" }}</b>
    </p>
    </div>
    <div class="control">
      <button class="button button_false">Неправильно</button>
      <button class="button button_true">Правильно</button>
    </div>
  </div>
  <div class="timer"></div>

</div>
