<div class="wrapper">
  <div  class="level">
    <p>Выберете уровень</p>
    <div class="buttons_level">
    <button class="button_level button_A1" routerLink="/games/sprint/level/0" (click)="choiceLevel()">A1</button>
    <button class="button_level button_A2" routerLink="/games/sprint/level/1" (click)="choiceLevel()">A2</button>
    <button class="button_level button_B1" routerLink="/games/sprint/level/2" (click)="choiceLevel()">B1</button>
    <button class="button_level button_B2" routerLink="/games/sprint/level/3" (click)="choiceLevel()">B2</button>
    <button class="button_level button_C1" routerLink="/games/sprint/level/4" (click)="choiceLevel()">C1</button>
    <button class="button_level button_C2" routerLink="/games/sprint/level/5" (click)="choiceLevel()">C2</button>
  </div>
</div>

</div>


