<div class="capabilities">
  <h2 class="capabilities__title">Возможности и преимущества</h2>
  <div class="capabilities__container">
    <div class="capabilities__item">
      <img class="capabilities__img" src="../../../assets/book.svg" alt="Some img">
      <h3 class="capabilities__subtitle">Учебник</h3>
      <p class="capabilities__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, impedit? Incidunt nostrum maxime magnam, sunt a tenetur inventore eaque earum facere ipsum quod dolorem reprehenderit similique reiciendis autem veritatis ratione obcaecati eveniet! Fuga neque dignissimos sequi aliquam aliquid, sed ex suscipit soluta reprehenderit numquam? Eligendi sapiente consequatur vero exercitationem. Sunt.</p>
    </div>
    <div class="capabilities__item">
      <img class="capabilities__img" src="../../../assets/sprint.svg" alt="Some img">
      <h3 class="capabilities__subtitle">Спринт</h3>
      <p class="capabilities__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, impedit? Incidunt nostrum maxime magnam, sunt a tenetur inventore eaque earum facere ipsum quod dolorem reprehenderit similique reiciendis autem veritatis ratione obcaecati eveniet! Fuga neque dignissimos sequi aliquam aliquid, sed ex suscipit soluta reprehenderit numquam? Eligendi sapiente consequatur vero exercitationem. Sunt.</p>
    </div>
    <div class="capabilities__item">
      <img class="capabilities__img" src="../../../assets/audiocall.svg" alt="Some img">
      <h3 class="capabilities__subtitle">Аудиовызов</h3>
      <p class="capabilities__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, impedit? Incidunt nostrum maxime magnam, sunt a tenetur inventore eaque earum facere ipsum quod dolorem reprehenderit similique reiciendis autem veritatis ratione obcaecati eveniet! Fuga neque dignissimos sequi aliquam aliquid, sed ex suscipit soluta reprehenderit numquam? Eligendi sapiente consequatur vero exercitationem. Sunt.</p>
    </div>
    <div class="capabilities__item">
      <img class="capabilities__img" src="../../../assets/statistics.svg" alt="Some img">
      <h3 class="capabilities__subtitle">Статистика</h3>
      <p class="capabilities__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, impedit? Incidunt nostrum maxime magnam, sunt a tenetur inventore eaque earum facere ipsum quod dolorem reprehenderit similique reiciendis autem veritatis ratione obcaecati eveniet! Fuga neque dignissimos sequi aliquam aliquid, sed ex suscipit soluta reprehenderit numquam? Eligendi sapiente consequatur vero exercitationem. Sunt.</p>
    </div>
  </div>
</div>
