<div class="capabilities">
  <h2 class="capabilities__title">Возможности и преимущества</h2>
  <div class="capabilities__container">
    <div class="capabilities__item">
      <img class="capabilities__img" src="../../../assets/book.svg" alt="Some img">
      <h3 class="capabilities__subtitle">Учебник</h3>
      <p class="capabilities__description">В учебнике вы можете изучить новые слова, услышать их произношение, а также их употребление в повседневной речи</p>
    </div>
    <div class="capabilities__item">
      <img class="capabilities__img" src="../../../assets/sprint.svg" alt="Some img">
      <h3 class="capabilities__subtitle">Игры</h3>
      <p class="capabilities__description">Игры предназначены для проверки ваших знаний и закрепления новых слов, изученных в учебнике</p>
    </div>
    <div class="capabilities__item">
      <img class="capabilities__img" src="../../../assets/statistics.svg" alt="Some img">
      <h3 class="capabilities__subtitle">Статистика</h3>
      <p class="capabilities__description">Здесь вы можете отслеживать свою активность как на текущий день так и за долгосрочный период</p>
    </div>
  </div>
</div>
