@font-face {
  font-family: 'Jost';
  src: url(../../../assets/font/Jost-Black.ttf) format("opentype");
}

body {
  margin: 0;
  padding: 0;
}

.book-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Jost';
}

.book-header {
  user-select:none;
  display: flex;
  justify-content: space-between;
}

.book-title {
  font-size: 2rem;
  font-weight: 700;
  color: #2c2647;
  letter-spacing: 0.05em;
  margin-right: 10px;
}

.show-translate {
  width: 100%;
  display: flex;
}

.show-translate_set {
  width: 50px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}

.show-translate_set:hover {
  background-color: #f3f4f8;
}

.show-translate_set:hover .MuiSvgIcon-root{
  transform: rotate(30deg);
}

.MuiSvgIcon-root {
  height: 30px;
  fill: #ED80FD;
  transition: all 0.3s;
}

.show-translate_wrapper {
  box-sizing: border-box;
  width: 170px;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #ED80FD;
  transition: all 0.3s;
}

.show-label {
  cursor: pointer;
}

.hide-width {
  width: 0;
  background-color: #ffffff;
}

.show-width {
  width: 170px;
  background-color: #ED80FD;
}

.show:checked::before {
  background-color: #ffffff;
  color: #00b8d4;
}

.level-header {
  user-select:none;
}

.nav {
  margin-bottom: 20px;
  max-width: 1200px;
  user-select:none;
}

.item {
  padding: 15px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.5rem;
  color: #2c2647;
  background-color: #f3f4f8;
  cursor: pointer;
  margin: 5px 0;
  transition: filter 0.3s ease;
}

.item:hover {
  /* filter: brightness(100%) saturate(100%); */
  background-color: #00b8d4;
}

.visible {
  /* filter: brightness(100%) saturate(100%); */
  background-color: #00b8d4;
}

.list {
  display: flex;
  width: 100%;
  margin: 0 auto 50px;
  flex-wrap: wrap;
  justify-content: last baseline;
  gap: 2%;
  list-style-type: none;
}

/* cards */
p {
  margin: 0;
  vertical-align: middle;
}

.words-container {
  width: 100%;
}

.word-container {
  border-radius: 20px;
  display: flex;
  width: 100%;
  margin: 15px 0;
  background-color: #00b8d4;
}

.word-description {
  padding: 20px;
}

.word {
  display: flex;
  gap: 15px;
}

.word_en {
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 1.5rem;
}

.play {
  font-size: 1.5rem;
}

.word_ru {
  font-weight: 600;
  letter-spacing: 0.05em;
  font-size: 1.5rem;
}

.word_transcript {
  letter-spacing: 0.05em;
  font-size: 1.5rem;
}

.word-meaning_header, .word-example_header {
  font-weight: 700;
  font-size: 1.2rem;
  color: #2c2647;
  margin-bottom: 2px;
}

.word-meaning_en, .word-example_en {
  font-weight: 500;
  letter-spacing: 0.05em;
  font-size: 1.1em;
}

.word-meaning_ru, .word-example_ru {
  /* font-style: italic; */
  font-weight: 500;
  letter-spacing: 0.05em;
  font-size: 1.1em;
  color: #ffffff;
}

.word-meaning {
  margin-bottom: 10px;
}

.play {
  cursor: pointer;
  font-size: 20px;
  color: #ff3d00;
}

.svg {
  width: 20px;
}

.pagination {
  margin-top: 10px;
}

.active {
  background-color: #00b8d4;
}

.word-image {
  height: 320px;
}

.image {
  height: 320px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 900px) {
  .image {
    height: 320px;
    width: 240px;
    object-fit: cover;
  }
}

@media screen and (max-width: 600px) {
  .word-container {
    flex-direction: column;
    border-top-right-radius: 20px;
  }

  .word {
    flex-wrap: wrap;
    gap: 5px;
  }

  .word * {
    margin: 0;
  }

  .word-image {
    width: 100%;
    height: 100%;
  }

  .image {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    width: 100%;
    height: fit-content;
    object-fit: contain;
  }
}

