<div class="audiocall__container" *ngIf="!end">
  <div class="audiocall__icon" (click)="onPlayAudio()" *ngIf="!imgVisible"></div>
  <img class="audiocall__image" src={{imgSrc}} *ngIf="imgVisible">
  <div class="audiocall__answer" *ngIf="imgVisible">
    <div class="audiocall__word">{{currentWord}}</div>
    <div class="audiocall__icon" (click)="onPlayAudio()"></div>
  </div>
  <div class="audiocall__answers">
    <button class="audiocall__item" *ngFor="let item of randomWords" (click)="selectWord($event)">{{item}}</button>
  </div>
  <button class="audiocall__btn" (click)="nextWord()">{{buttonText}}</button>
</div>
<app-game-result *ngIf="end"></app-game-result>
