<div class="audiocall">
  <div class="audiocall__container" *ngIf="!startBtnVisible && !end">
    <app-game-title *ngIf="visible"></app-game-title>
    <app-level-selection *ngIf="levelSelectionVisible" (levelSelected) = 'levelSelected()'></app-level-selection>
  </div>
    <mat-spinner class="spiner" *ngIf="!visible && !start"></mat-spinner>
    <app-game-audiocall *ngIf="start && !end"></app-game-audiocall>
    <app-game-result *ngIf="end"></app-game-result>
    <button class="audiocall__start-btn" disabled="BtnDisabled" *ngIf="visible" (window:keydown.enter)="onStart()" (click)="onStart()">Начать</button>
    <div class="audiocall__message" *ngIf="message">
      <span class="message">
        Все слова со страницы {{page + 1}} учебника уже изучены
      </span>
    </div>
</div>
