@media (min-width: 780px) {
  * {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
    font-family: Jost-k;
  }

  .navigation {
    display: flex;
  }

  .navigation__list {
    display: flex;
    justify-content: center;
    gap: 10px;

  }

  .navigation__item {
    margin: 10px;
    font-size: 1.5rem;
  }

  .dropdown {
    position: relative;
    display: flex;
    gap: 10px;
  }

  .dropdown:hover .dropdown__arrow {
    display: inline-block;
    transition: all .6s cubic-bezier(0.1, 0.2, 0.2, 0.1);
    transform: rotate(180deg);
  }

  .dropdown__wrapper {
    display: none;
    position: absolute;
    top: 50%;
    padding-top: 2rem;
  }

  .dropdown:hover .dropdown__wrapper {
    margin-top: 5px;
    display: block;
    background: rgba(125, 107, 230, 0.12);
  }

  .dropdown__item {
    padding: 5px .5rem;
  }

  .dropdown__item_first {
    margin-top: 10px;
  }

  .menu-button{
    display: none;
  }
}

@media (max-width: 779px){
  .navigation {
    display: flex;
    align-self: flex-end;
    order: 1;
  }

  .navigation__list {
    display: none;
  }
  .menu-button {
    font-family: Jost-k;
    background: transparent;
    display: flex;
    border: none;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40px;
    gap: 8px;
  }
  .app-title {
    padding: 0 3px;
  }

  .menu-button:hover {
    cursor: pointer;
  }

  .line {
    width: 30px;
    height: 4px;
    background-color: #ffffff;
    content: "";
  }

.burger__link:hover {
  background: #7d6be6;
  cursor: pointer;
}
  .burger__link {
    background: white;
    color: black;
    font-family: Jost-k;
    font-size: 1.5rem;
  }
  a {
    text-decoration: none;
  }

}
