<nav class="navigation">
  <ul class="navigation__list">
    <li class="navigation__item"><a class="navigation__link" routerLink="/">Главная</a></li>
    <li class="navigation__item"><a class="navigation__link" routerLink="/textbook">Учебник</a></li>
    <li class="navigation__item dropdown">
      <span class="dropdown__text">Игры</span>
      <span class="dropdown__arrow">🡩</span>
      <div class="dropdown__wrapper">
        <ul class="dropdown__content">
          <li class="dropdown__item dropdown__item_first"><a class="navigation__link" routerLink="/games/audiocall">Аудиовызов</a></li>
          <li class="dropdown__item"><a class="navigation__link" routerLink="/games/sprint">Спринт</a></li>
          <li class="dropdown__item"><a class="navigation__link" routerLink="/games/oasis">Oasis</a></li>
        </ul>
      </div>
    </li>
    <li class="navigation__item"><a class="navigation__link" routerLink="/statistics">Статистика</a></li>
  </ul>
  <button mat-button [matMenuTriggerFor]="beforeMenu" class="menu-button">
    <span class="line"></span><span class="line"></span><span class="line"></span>
  </button>
  <mat-menu #beforeMenu="matMenu" xPosition="before" classList="menu-mat">
    <a routerLink="/"><button mat-menu-item class="burger__link">Главная</button></a>
    <a routerLink="/textbook"><button mat-menu-item class="burger__link">Учебник</button></a>
    <a routerLink="/games/audiocall"><button mat-menu-item class="burger__link">Аудиовызов</button></a>
    <a routerLink="/games/sprint"><button mat-menu-item class="burger__link">Спринт</button></a>
    <a class="navigation__link" routerLink="/games/oasis"><button mat-menu-item class="burger__link">Oasis</button></a>
    <a routerLink="/statistics"><button mat-menu-item class="burger__link">Статистика</button></a>
  </mat-menu>
</nav>
