<nav class="navigation">
  <ul class="navigation__list">
    <li class="navigation__item"><a class="navigation__link" routerLink="/">Главная</a></li>
    <li class="navigation__item"><a class="navigation__link" routerLink="/textbook">Учебник</a></li>
    <li class="navigation__item dropdown">
      <span class="dropdown__text">Игры</span>
      <span class="dropdown__arrow">V</span>
      <ul class="dropdown__content">
        <li class="dropdown__item dropdown__item_first"><a class="navigation__link" routerLink="/games/audiocall">Аудиовызов</a></li>
        <li class="dropdown__item"><a class="navigation__link" routerLink="/games/sprint">Спринт</a></li>
      </ul>
    </li>
    <li class="navigation__item"><a class="navigation__link" routerLink="/statistics">Статистика</a></li>
  </ul>
</nav>
