<button class="button button_song" (click)="stopSong()">🔊</button>
<!--<button class="button" (click)="playSong()">🔇</button>-->
<div class="wrapper_game" >
  <div class="image-run">
    <img alt="some" id="run-girl" src="./assets/run.jpg" />
  </div>
  <div class="wrap-game" >
    <div class="score-time">
    <app-timer></app-timer>
    <p id="score" >{{score}}</p>
  </div>
    <div class="words">
      <p class="test">
        <b>{{ wordEN }}</b>
      </p>
      <p class="test">
        <b>-</b>
      </p>
      <p class="test">
        <b>{{ wordRU }}</b>
      </p>
    </div>
    <div class="control">
      <button class="button button_false">Неправильно</button>
      <button class="button button_true">Правильно</button>
    </div>
  </div>
  <div class="timer">
  </div>
</div>
