<button class="button button_song" (click)="stopSong()">🔊</button>
<!--<button class="button" (click)="playSong()">🔇</button>-->
<div class="wrapper_game" >
  <div class="image-run">
    <img alt="some" id="run-girl" src="./assets/run.jpg" />
  </div>
  <div class="wrap-game" >
    <div class="score-time">
    <app-timer></app-timer>
    <p id="score" >{{score}}</p>
  </div>
    <div class="words">
      <p class="word word_en">
        <b>{{wordEN}}</b>
      </p>
      <p class="word">
        <b>{{wordRU}}</b>
      </p>
    </div>
    <div class="control">
      <button class="button button_false"
              (window:keydown.arrowLeft)="isnoRightAnswer()"
              (click)="isnoRightAnswer()">Неправильно<br/> ←</button>
      <button class="button button_true"
              (window:keydown.arrowRight)="isRightAnswer()"
              (click)="isRightAnswer()">Правильно<br/>  →</button>
    </div>
  </div>
  <div class="timer">
  </div>
</div>
